.tafel {
    margin: 10px;
    display:inline-block;
    border: solid 1px #122b40;
}

.tafel p, .tafel h1 {
    margin:0;
    padding:10px;
}

.hoofd {
    font-size: 100%;
    background-color: #122b40;
    color: white;
}

.tafel p:nth-of-type(odd) {
    background-color: #d3d3d3;
}